In [1]:
import pandas as pd # library for data analysis
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents

In [2]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [3]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [5]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Rank       City  Population(2011)[3] Population(2001)  \
0     1     Mumbai             12442373         11978450
1     2      Delhi             11007835          9879172
2     3  Bangalore              8436675          4301326
3     4  Hyderabad              6809970          3637483
4     5  Ahmedabad              5570585          3520085

  State or union territory
0              Maharashtra
1                    Delhi
2                Karnataka
3                Telangana
4                  Gujarat